.container-home {
    background-color: #1C3168;
    width: 100%;
}

.conatiner-banner {
    position: relative;
}

.container-text-banner-typeRighter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
}

.banner-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    position: relative;
}

.span-seleccion {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
}





.container-videos-home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.videos-tit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos-tit h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
}

.videos-tit h1:hover {
    -webkit-text-fill-color: white;
    cursor: pointer;
}




.conatiner-miniaturas-videos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.miniatura {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.miniatura img:hover {
    opacity: 0.7;
}

.miniatura img {
    height: 300px;
    width: 550px;
    object-fit: cover;
}

.container-text-miniatura {
    width: 550px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px;
}

.container-text-miniatura h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-noticias-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
}

.noti-secicion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-insideContainer-bigone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.noticia-bigone {
    background-color: red;
    height: 550px;
    width: 600px;
    margin: 10px;
    transition: transform 0.3s; 
    position: relative;
}
.noticia-bigone:hover{
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.noticia-smallones {
    background-color: aqua;
    height: 550px;
    width: 600px;
    margin: 10px;
    position: relative;
    transition: transform 0.3s; 

}

.noticia-smallones:hover {
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
}

.inside-notiBigone-container-pic {
    width: 100%;
    height: 65%;
    background-color: cadetblue;
    position: relative;

}

#logo-noticias {
    height: 30%;
    width: 15%;
    object-fit: cover;
    position: absolute;
    left: 8%;
    top: 8%;
}

.inside-notiBigone-container-pic h1 {
    position: absolute;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    bottom: -10px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    /* Degradado */

}

.inside-notiBigone-container-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.inside-notiBigone-container-text {
    width: 100%;
    height: 35%;
    padding: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.inside-notiBigone-container-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 30px;
}
.inside-notiBigone-container-text img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 2px;
}
.container-links-inside-noti-text{
    position: absolute;
    top: 4%;
    right: 2%;
}

.inside-notiSmallone-container-pic {
    width: 100%;
    height: 60%;
    background-color: rgb(205, 124, 3);
    position: relative;
}

.inside-notiSmallone-container-pic h1 {
    position: absolute;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    bottom: -10px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    /* Degradado */

}
.inside-notiSmallone-container-text img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 2px;
}

.inside-notiSmallone-container-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.inside-notiSmallone-container-text {
    width: 100%;
    height: 40%;
    padding: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.mini-noti-container-text{
    width: 250px;
    margin-top: 15px;
    
}

.inside-notiSmallone-container-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}
.inside-notiSmallone-container-text H4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1C3168;
    font-size: 18px;
    margin-left: 20px;
}


@media only screen and (min-width: 1100px) {
    .noti-secicion {
        flex-direction: initial;
    }

    .inside-notiSmallone-container-pic h1 {
        font-size: 25px;
    }

    .cont-insideContainer-bigone {
        flex-direction: initial;
        flex-wrap: nowrap;
    }

    .cont-insideContainer-bigone {
        display: flex;
        flex-direction: column;
    }

    .noticia-bigone {
        height: 620px;
        width: 680px;
        margin: 10px;
    }


    .noticia-smallones {
        background-color: aqua;
        height: 300px;
        width: 330px;
        margin: 10px;
    }

}

@media only screen and (max-width: 999px) {
    .banner-img {
        height: 300px;
    }

    .span-seleccion {
        font-size: 25px;
    }
}

@media (max-width: 958px) {
    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .card {
        margin-bottom: 30px;
        grid-column: span 1;
        /* Ajustar el número de columnas en pantallas estrechas */
    }

    .top,
    .botom,
    .botom2direction {
        clip-path: none;
        margin-top: 0;
    }
}
@media screen and (min-width: 668px) and (max-width: 1099px) {
    .inside-notiSmallone-container-text p{
        font-size: 24px;
    }
    .mini-noti-container-text{
        width: 450px;
    }
    .inside-notiBigone-container-text p{
        font-size: 24px;
    }
  }

@media only screen and (max-width: 667px) {
    .noticia-bigone {
        height: 300px;
        width: 330px;

    }

    .noticia-smallones {
        height: 300px;
        width: 330px;
    }
}

@media only screen and (max-width: 620px) {

    .span-seleccion {
        font-size: 15px;
    }

    .videos-tit h1 {
        font-size: 60px;
    }

    .miniatura img {
        height: 200px;
        width: 370px;
    }

    .container-text-miniatura {
        width: 370px;
    }

    .container-mini-noticia3 img {
        height: 200px;
        width: 350px;
        object-fit: fill;
    }
    
}

@media only screen and (max-width: 667px) {
    .inside-notiBigone-container-text p{
        font-size: 14px;
    }
    .miniBigone-noti-container-text{
        width: 250px;
    }
}