.container-home {
    background-color: #1C3168;
    width: 100%;
}

.conatiner-banner {
    position: relative;
}

.container-text-banner-typeRighter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
}

.banner-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    position: relative;
}

.span-seleccion {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.container-noticias-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container-mini-noticia1, .container-mini-noticia2, .container-mini-noticia4 {
    margin: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.container-mini-noticia3 {
    margin: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.container-mini-noticia1 img, .container-mini-noticia2 img, .container-mini-noticia4 img {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.container-mini-noticia3 img {
    height: 350px;
    width: 700px;
    object-fit: fill;
}

.container-mini-noticia1:hover, .container-mini-noticia2:hover, .container-mini-noticia4:hover, .container-mini-noticia3:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

.container-mini-noticia1:hover img, .container-mini-noticia2:hover img, .container-mini-noticia4:hover img, .container-mini-noticia3:hover img {
    transform: scale(1);
    border-radius: 10px;
    border: solid 2px white;
}


.container-videos-home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.videos-tit {
    display: flex;
    background-color: black;
    padding: 20px;
}

.videos-tit h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 100;
}

.videos-tit h1:hover {
    -webkit-text-fill-color: white;
    cursor: pointer;
}




.conatiner-miniaturas-videos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.miniatura {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.miniatura img:hover {
    opacity: 0.7;
}

.miniatura img {
    height: 300px;
    width: 550px;
    object-fit: cover;
}

.container-text-miniatura {
    width: 550px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px;
}

.container-text-miniatura h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 958px) {
    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .card {
        margin-bottom: 30px;
        grid-column: span 1;
        /* Ajustar el número de columnas en pantallas estrechas */
    }

    .top,
    .botom,
    .botom2direction {
        clip-path: none;
        margin-top: 0;
    }
}


@media only screen and (max-width: 999px) {
    .banner-img {
        height: 300px;
    }

    .span-seleccion {
        font-size: 25px;
    }
}

@media only screen and (max-width: 620px) {

    .span-seleccion {
        font-size: 15px;
    }

    .videos-tit h1 {
        font-size: 60px;
    }

    .miniatura img {
        height: 200px;
        width: 370px;
    }

    .container-text-miniatura {
        width: 370px;
    }
    .container-mini-noticia3 img{
        height: 200px;
        width: 350px;
        object-fit: fill;
    }
}