.banner-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}


.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    max-width: 1400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.card {
    height: 400px; /* Aplicar margen a todas las cards */
}

.card1 {
    grid-column: span 1;
    background-color: rgb(230, 0, 255);
}

.card2 {
    grid-column: span 2;
    background-color: aqua;
}

.card3 {
    grid-column: span 1;
    background-color: rgb(205, 202, 22);
}

.card4 {
    grid-column: span 1;
    background-color: rgb(6, 70, 116);
}

.card5 {
    grid-column: span 1;
    background-color: rgb(47, 112, 15);
}

.card6 {
    grid-column: span 2;
    background-color: rgb(162, 6, 51);
}

@media (max-width: 958px) {
    .container-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .card {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 999px) {
    .banner-img {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {}