.logo-avatar{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.logo-avatar img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}