.container-banner-futbolMasculino {
    position: relative;
    width: 100%;
    height: 600px;
}

.banner-futbolMasculino {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.player-image-futbolMasculino {
    position: absolute;
    bottom: 0;
    left: 100%;
    /* Inicialmente fuera del contenedor a la derecha */
    transform: translateX(-100%);
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    /* Inicialmente oculto */
    animation: fadeIn 0.2s ease-in-out 1s forwards, slideIn 1s ease-in-out 1s forwards;
    /* fadeIn y slideIn con un retraso de 1 segundo */
}

.container-banner-text-futbolMasculino {
    position: absolute;
    top: 100px;
    right: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    text-align: center;
    opacity: 0;
    /* Inicialmente oculto */
    animation: fadeInText 0.5s ease-in-out 2s forwards;
    /* fadeInText con un retraso de 2 segundos */
}

@keyframes fadeInText {
    to {
        opacity: 1;
        /* Hace que el contenedor sea visible al final de la animación */
    }
}

.container-banner-text-futbolMasculino h2 {
    background-color: rgba(0, 0, 0, 0);
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.container-banner-text-futbolMasculino p {
    background-color: rgba(0, 0, 0, 0);
    font-size: 35px;
}

.container-futbolMasculinopic-family {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.pic-futbolMasculino1 {
    object-fit: cover;
    width: 800px;
    height: 600px;
}

.container-text-futbolMasculino {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.container-text-futbolMasculino h2 { 
    padding-left: 20px;
    padding-right: 20px;
}

.container-text-futbolMasculino p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

@keyframes slideIn {
    to {
        left: 0;
        /* Mueve la imagen hacia la izquierda y la deja allí */
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1150px) {
    .container-banner-text-futbolMasculino {
        width: 60%;
        top: 0px;

    }
}

@media only screen and (max-width: 850px) {
    .pic-futbolMasculino1 {
        width: 100%;
        height: 300px;
    }

    .container-banner-text-futbolMasculino {
        width: 80%;
    }

    .container-banner-text-futbolMasculino h2 {
        font-size: 35px;
    }

    .container-banner-text-futbolMasculino p {
        font-size: 25px;
    }

    .container-text-futbolMasculino {
        width: 400px;
        height: 100%;
    }

    .container-text-futbolMasculino p {
        font-size: 15px;
    }

    .container-text-futbolMasculino h1 {
        font-size: 22px;
    }

    .player-image-futbolMasculino {
        margin-left: -100px;
    }

}

@media only screen and (max-width: 650px) {
    .container-banner-text-futbolMasculino {
        width: 100%;
        top: 100px;
    }

    .container-banner-text-futbolMasculino h2 {
        font-size: 28px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-banner-text-futbolMasculino p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .player-image-futbolMasculino {
        max-width: 70%;
        max-height: 70%;
        margin-left: 70px;
    }

}