footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    padding-bottom: 30px;
}
.container-footer{
    width: 900px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.container-footer p{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}
.container-maxysdesigndigital {
    display: flex;
    background-color: black;
    width: 360px;
    justify-content: center;
    align-items: center;
}
.container-maxysdesigndigital p{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;

}

@media only screen and (max-width: 575px) {
    .container-footer{
        padding-left: 0;
        text-align: center;
    }
    footer{
    justify-content: center;
    }
  }