.navBrowser{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: white;
}
.inside-navBrowser{
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.container-logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.container-logo img{
    height: 120px;
    width: 100px;
}
.container-tit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonBrowser{
    cursor: pointer;
}
#button-link-desactive{
    background-color: white;
    color: #1c3168;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    
}
#button-link-active{
    
    background-color: rgb(227, 224, 221);
    height: 46px;
    width: 100%;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    color: #1c3168;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.buttonBrowser a{
    background-color: white;
    color: #1c3168;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    
}
.buttonBrowser a.active{
    
    border-bottom: 5px solid rgb(19, 71, 135);
    color: #1c3168;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#button-link:hover{
    cursor: pointer;
}

.hide-div-disciplinas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(227, 224, 221);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.hide-div-club{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(227, 224, 221);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.disiplina-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 130px;
    color: white;border-radius: 10px;
    padding: 3px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
}


.hidden {
    display: none;
}
.hiddenClub {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .inside-navBrowser, .container-logo{
        margin-left: 200px;
    }
  }

  @media only screen and (max-width: 999px) {
    .navBrowser, .container-logo{
        justify-content: center;
    }
  }

  @media only screen and (max-width: 450px) {
    #button-link, #button-link-active, #button-link-desactive{
        font-size: 18px;
    }
    .container-logo h2{
        font-size: 18px;
    }
    .container-logo h1{
        font-size: 24px;
    }
  }